body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}


#container {
  flex-grow: 1; 
}

.myInlineDecoration {
	color: red !important;
	cursor: pointer;
	text-decoration: underline;
	font-weight: bold;
	font-style: oblique;
}

.myLineDecoration {
	background: lightblue;
	width: 5px !important;
	margin-left: 3px;
}

.passed {
  color: green;
}

.failed {
  color: red;
}

.broken {
  color: orange;
}

.skipped {
  color: silver;
}

.execution {
  color: rgb(75, 75, 75);
  transform: scale(1);
  animation: pulse 2s infinite;
  box-shadow: 0px 0px 1px 1px #0000001a;
  border-radius: 50%;
}

.pending {
  color: green;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    color: rgb(209, 209, 209);
  }
  50% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    color: rgb(155, 155, 155);
  }
  100% {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    color: rgb(209, 209, 209);
  }
}